.abb1{
    text-decoration: none;
    
    
}
.go3{
    text-decoration: none;
    
    
}
 .go4{
    margin-left: 200px;
    width: 30px;
    height: 30px;
    background-color: blue;
    color: white;
    border: 0px solid balck;
    border-radius: 50%;
    
    

} 
.bbb1{
    margin: 0px;
    padding: 0px;
}
.eight1{
    
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    color: rgba(57, 131, 241, 0.932);
}
/* .dot2
{
    height: 30px;
    width: 30px;
    background-color: rgb(36, 113, 230);
    border-radius: 50%; 
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 250px;
    text-decoration: none;
} */

.add3{
    width: 150px;
    height: 30px;
    background-color: rgb(43, 43, 241);
    color: white;
    text-align: center;
    border-radius: 3px;
    padding-top: 4px;
    margin-top: 20px;
    margin-left: 330px;
}
.ll{
    text-decoration: none;
}
.sym{
    margin-top:15px ;
   
} 
.add2{
    height: 20px;
    width: 460px;
   
  
   /* padding-left: 10px; */
   background-color: whitesmoke;
   margin-left: 20px;
   font-size: 12px;
  padding-left: 5px;
  padding-top: 4px;
}
.add1{
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 300px;
}
.addtask{
    width: 500px;
    height: 200px;
    /* border: 1px solid red; */
    border-radius: 20px;
    
    background-color:white;
    position: absolute;
    left: 30%;
    top: 150px;
    font-size: 20px;
   
    
    
}
.set1{
    filter:blur(3px) ;
   
}

.f1{
    display: flex;
}

.nine{
    font-size: 20px;
    color: grey;
    text-decoration:line-through;
    margin-top:18px ;
}
.eleven{
    font-size: 20px;
    padding-top: 20px;
    
}
.ten{
    margin-left: 40px;
    margin-top: 15px;
}

input.ten{
    width: 30px;
    height: 30px;
}



.eight{
    font-size: 25px;
    font-weight: bolder;
    padding-left: 30px;
    color: rgba(57, 131, 241, 0.932);
}
.main1{
    width: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 70px;
    
    margin-top: 50px;
    padding-bottom: 300px;
   
}

.seven{
    height: 350px;
    width: 350px;
    background-color: aliceblue;
    border-radius: 25px;
}
/* .dot
{
    height: 100px;
    width:100px;
    background-color: rgb(36, 113, 230);
    border-radius: 50%; 
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 950px;
} */

.five{
   

    
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
    /* margin-left: 1000px; */
    
    
    
}
.six{
    display: flex;
}
.four{
    background-color: lightgrey;
    height:auto;
    width: auto;
    
    
}


.one{
    display: flex;
}
.two{
font-size:40px;
font-weight: bolder;
padding-left: 150px;



}
.three{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 5px;

    color: rgb(16, 136, 211);
}
.img1{
    height: 20px;
    width: 20px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 430px;
}

.add5{
    
  
    font-size: 20px;
    
} 
.dot
{
    height: 30px;
    width: 30px;
    background-color: rgb(36, 113, 230);
    border-radius: 50%; 
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 950px;
}
.five1{
    font-size:20px ;
}
sp1{
   margin-left: 500px;
}
.four1{
   
    height:600px;
    width: 100%;
    background-color: lightgrey;
    
    
    
}
.seven1{
    height: 270px;
    width: 470px;
    background-color: aliceblue;
    border-radius: 25px;
    margin-left: 420px;
}
 @media  only screen and (min-width:300px) and  (max-width:450px) {
    .seven1{
        height: 270px;
        width: 470px;
        background-color: aliceblue;
        border-radius: 25px;
        margin-left: 20px;
    }
    

    .one{
        display: flex;
        padding: 0px;
        margin: 0px;
    }
    .two{
    font-size:20px;
    font-weight: bolder;
    padding-left: 10px;
    
    
    
    }
    .three{
        font-size: 20px;
        font-weight: bolder;
        margin-left: 5px;
    
        color: rgb(16, 136, 211);
    }
    
    
    
.dot
{
    height: 30px;
    width: 30px;
    background-color: rgb(36, 113, 230);
    border-radius: 50%;
    color: white; 
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 6px;
   
    
    
    
    margin-left: 220px;
}
.ll{
    text-decoration: none;
     text-align: center;
    font-size: 25px;
    color: white;
    justify-content: center;  
    
    
  
}
.four{
    background-color: lightgrey;
    height:auto;
    width: auto;
    
    
}
.main1{
    width: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: column;
     /* align-items: center;     */
    
    /* margin-top: 30px; */
    /* padding-bottom: 300px; */
   
}
.seven{
    height: 300px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 15px;
}
.add3{
    width: 90px;
    height: 25px;
    background-color: rgb(43, 43, 241);
    color: white;
    text-align: center;
    border-radius: 3px;
    padding-top: 4px;
    margin-top: 15px;
    margin-left: 180px;
    font-size: 15px;
}
.add1{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 150px;
}
.addtask{
    width: 280px;
    height: 180px;
    /* border: 1px solid red; */
    border-radius: 10px;
    
    background-color:white;
    position: absolute;
    left: 18%;
    top: 200px;
    font-size: 20px;
   
    
    
}
.add2{
    height: 20px;
    width: 245px;
   
  
   /* padding-left: 10px; */
   background-color: whitesmoke;
   margin-left: 20px;
   font-size: 12px;
  padding-left: 5px;
  padding-top: 4px;
}
.four1{
   
    
    background-color: lightgrey;
    margin-left: 0px;
    padding: 0px;
    
    
    
}
.img1{
    height: 15px;
    width: 15px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 30px;
}
.dot1{
    margin-left: 100px;
    font-size: 25px;
    height: 30px;
    width: 30px;
    border: 1px soild black;
    background-color: rgb(12, 12, 165);
    border-radius: 50%;
    color: white;
}

.eight1{
    
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: rgba(57, 131, 241, 0.932);
}
.seven1{
    height: 270px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 65px;
}
.bbb1{
    margin: 0px;
    padding: 0px;
}
} 